.row
  .col-sm-8.col-sm-offset-2

    %section.create_api_key
      %h1.text-center Api keys
      = button_to 'Create Api key', admin_api_keys_path, method: :post, class: 'btn'

    %br

    %section.api_keys
      %table.table.table-bordered.table-striped.table-hover
        %thead
          %tr
            %th id
            %th key
            %th action
        %tbody.menus
          = render @api_keys


