.row
  .col-sm-10.col-sm-offset-1
    %table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          %th Organization
          %th Product
          %th Price
          %th Weekly
      %tbody
        - @course_types.each do |_,course_type|
          -if @menus.key? course_type
            %tr
              %td.warning{colspan:4}=course_type
              - @menus[course_type].each do |menu|
                %tr
                  %td= menu.organization.name
                  %td= menu.name
                  %td= menu.price
                  %td.text-center
                    %i{class: " active glyphicon glyphicon-#{menu.weekly ? 'ok' : 'remove'}"}
